.calculator {
    max-width: 400px;
    background-color: #aaa;
    padding: 1rem;
    border-radius: 8px;
    border-width: 1px;
    border: solid;
    border-color: #222;
}

button {
    border-radius: 8px;
    border-width: 1px;
    border: solid;
    border-color: #222;
    box-shadow: 2px 2px 2px 1px rgba(50, 50, 50, .125);
    font-size: 1rem;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1;
    gap: .5rem;
}

.clear-btn {
    grid-column: span 2;
    background-color: rgb(253, 123, 123);
}

.delete-btn {
    grid-column: span 2;
    background-color: #93b8f0;
}

.screen {
    width: 100%;
    height: 64px;
    background-color: #ddd;
    margin-bottom: 1.5rem;
    border-width: 1px;
    border: solid;
    border-radius: 8px;
    border-color: #222;
}